.footer-content{
    display: flex;
    justify-content: center;
  
}
.footer {
    background: #f8f9fa;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    margin-top: 40px;
    text-align: center;
}
.footer-item{
    padding: 1rem;
}